@{
	Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
	@await Component.InvokeAsync("_HeadLayoutComponentPartial")
</head>

<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_SidebarLayoutComponentPartial")

		@await Component.InvokeAsync("_NavbarLayoutComponentPartial")

		<div class="container">
			<div class="page-inner">
				<div class="page-header">
					<h3 class="fw-bold mb-3">@ViewBag.v1</h3>
					<ul class="breadcrumbs mb-3">
						<li class="nav-home">
							<a href="#">
								<i class="icon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="icon-arrow-right"></i>
						</li>
						<li class="nav-item">
							<a href="#">@ViewBag.v2</a>
						</li>
						<li class="separator">
							<i class="icon-arrow-right"></i>
						</li>
						<li class="nav-item">
							<a href="#">@ViewBag.v3</a>
						</li>
					</ul>
				</div>
				@RenderBody()
				</<div>
				</div>
				
			</div>
			@await Component.InvokeAsync("_FooterLayoutComponentPartial")
			@await Component.InvokeAsync("_ScriptLayoutComponentPartial")

		</div>
	</div>
</body>
</html>
