<head>
    <meta charset="UTF-8">
    <meta name="description" content="DJoz Template">
    <meta name="keywords" content="DJoz, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DJoz | Music</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/djoz-master/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/djoz-master/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/djoz-master/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/djoz-master/css/nowfont.css" type="text/css">
    <link rel="stylesheet" href="/djoz-master/css/rockville.css" type="text/css">
    <link rel="stylesheet" href="/djoz-master/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/djoz-master/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/djoz-master/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/djoz-master/css/style.css" type="text/css">
</head>
